<?xml version="1.0" encoding="utf-8" ?>
<!--configuration>
	<ConfigurationSettings>
		<AppSettings>
			<add key="LibXConnectionStr" value="Provider=SQLOLEDB;user id=sa;data source='W2K-SERVER\DESARROLLO';persist security info=True;initial catalog=sgt;password=sa" />
		</AppSettings>
	</ConfigurationSettings>
</configuration-->

<configuration>
  <!-- The following code uses the predefined appSettings section. -->
    <appSettings>
        <add key="LibXConnectionStr" value="Provider=SQLOLEDB;user id=sa;data source='W2K-SERVER\DESARROLLO';persist security info=True;initial catalog=sgt;password=sa" />
    </appSettings>
</configuration>